*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
   
}




 img{
    width: 60px;
 }
.card{
    display: flex;
    width: 17rem;
    height:17rem ;
  
}
 

 
 .card-body {
    display:flex;
    justify-content: space-between;
    
 }

 .card img {
    display: flex;
    width:14rem;
    height:9rem;
    align-items: center;
    justify-content:space-between;
    justify-items: center;
    align-self:center;
 }

 .card-body1{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
    
 
 footer{
    background-color: antiquewhite;
 }
    
 footer .redes img{
    border-radius: 200px;
    width: 3rem;
 }

 .formulario{
    display :flex;
    background-color: rgb(199, 206, 226);
justify-content: center;
align-items: center;    
 }
 .formu{
    width: 21rem;
 }
 .card ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
 }
th{
    height: 2rem;
}
.titu{
    background-color: rgb(182, 209, 209);
    
}

.card a{
    box-sizing: border-box;
    border:solid;
    box-shadow:10px;
    background-color: black;
    color: aliceblue;
    
} 